# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore files from the app
/node_modules
/react-router/node_modules
/react-todo-list/node_modules
/react-todo-list - before redux/node_modules
/react-todo-list - template/node_modules
/react-todos/node_modules
/school-finder/node_modules
/school-finder/app/lib
/react-router2/node_modules
/kanban_app/node_modules
/react-gif-search/node_modules
/react-gif-search-react/node_modules


